<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>eaTr - Meal plan with ease!</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="test-bar">
    <h1>eaTr</h1>
    <span class="test-bar fas fa-bars"></span>x
  </div>
  <div class="main">
    here is some stuff
  </div>
  <div class="sidebar">
    some other stuff
  </div>
</body>
</html>