*{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.test-bar {
    color: #9ebd51;
    background-color: white;
}

.main {
    background-color: #434343;
    color: white;
}

.sidebar {
    background-color: #d4cb4a;
    color: #ffffff;
}