<span [ngSwitch]="menuVisible">
    <app-menu-body *ngSwitchCase="true" class="col-9"></app-menu-body>
    <div class="col-12 recipeFull" *ngSwitchCase="false">
        <div>
            <span>
                <h1 class="recipeName">
                    <!-- {{recipeName}} -->
                    <i class="fas fa-times closeRecipe" (click)="menuVisible=true"></i>
                </h1>            
            </span>
        </div>
        <div class="recipeImage">
            <img class="fullImage" src="assets/images/cookies.jpg">
        </div>
        <div class="recipeIngredients">
            <h4>Ingredients</h4>
            <ul>
                <li>2 1/4 cups all-purpose flour</li>
                <li>1 1/4 teaspoon kosher salt</li>
                <li>1 teaspoon baking soda</li>
                <li>1 cup unsalted butter, very soft</li>
                <li>1 cup white sugar</li>
                <li>1/2 cup light brown sugar</li>
                <li>1 large egg</li>
                <li>2 tablespoons milk</li>
                <li>1 1/4 teaspoon vanilla extract</li>
                <li>2 cups semisweet chocolate chips</li>
            </ul>
        </div>
        <div class="recipeInstructions">
            <h4>Instructions</h4>
            <ul>
                <li>Whisk flour, salt, and baking soda together in a bowl. In a separate bowl, cream the butter, white sugar, and brown sugar together until mixture is light and fluffy, 3 to 4 minutes. Add the egg, milk, and vanilla extract. Whisk liquids together in small areas around the bowl, then all together to avoid separation.</li>
                <li>Pour dry ingredients into the wet ingredients; stir until flour is thoroughly mixed in. Stir in the chocolate chips.</li>
                <li>Transfer dough to a resealable plastic bag. Refrigerate until dough is firm, at least 2 hours.</li>
                <li>Preheat oven to 375 degrees F (190 degrees C). Line baking sheet with parchment paper.</li>
                <li>Scoop out rounded tablespoons of dough and place on prepared baking sheet, leaving 4 inches of space between cookies (about 8 per sheet). Bake in preheated oven until cookies are golden brown, about 12 minutes. Slide parchment and cookies onto a cooling rack for a few minutes. Remove parchment and finish cooling the cookies on the rack.</li>
            </ul>
        </div>
    </div>
</span>