 <!-- Modal 1 for Recipe 1-->
 <div class="recipe-modal modal fade" id="recipeModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" /></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
            <!-- recipe Details Go Here-->
            <h2 class="text-uppercase">recipe Name</h2>
            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-fluid d-block mx-auto" src="assets/img/recipe/01-full.jpg" alt="" />
            <p>Use this area to describe your recipe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                  <li>Ingredient # 1</li>
                  <li>Ingredient # 2</li>
                  <li>Ingredient # 3</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close recipe</button>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>

<!-- Previous Code  -->
<!-- <span [ngSwitch]="menuVisible">
    <app-menu-body *ngSwitchCase="true" class="col-9"></app-menu-body>
    <div class="col-12 recipeFull" *ngSwitchCase="false">
        <div>
            <span>
                <h1 class="recipeName">
                    Chocolate Chip Cookies
                    <i class="fas fa-times closeRecipe" (click)="menuVisible=true"></i>
                </h1>
            </span>
        </div>
        <div class="recipeImage">
            <img class="fullImage" src="assets/images/cookies.jpg">
        </div>
        <div class="recipeIngredients">
            <h4>Ingredients</h4>
            <ul>
                <li>2 1/4 cups all-purpose flour</li>
                <li>1 1/4 teaspoon kosher salt</li>
                <li>1 teaspoon baking soda</li>
                <li>1 cup unsalted butter, very soft</li>
                <li>1 cup white sugar</li>
                <li>1/2 cup light brown sugar</li>
                <li>1 large egg</li>
                <li>2 tablespoons milk</li>
                <li>1 1/4 teaspoon vanilla extract</li>
                <li>2 cups semisweet chocolate chips</li>
            </ul>
        </div>
        <div class="recipeInstructions">
            <h4>Instructions</h4>
            <ul>
                <li>Whisk flour, salt, and baking soda together in a bowl. In a separate bowl, cream the butter, white sugar, and brown sugar together until mixture is light and fluffy, 3 to 4 minutes. Add the egg, milk, and vanilla extract. Whisk liquids together in small areas around the bowl, then all together to avoid separation.</li>
                <li>Pour dry ingredients into the wet ingredients; stir until flour is thoroughly mixed in. Stir in the chocolate chips.</li>
                <li>Transfer dough to a resealable plastic bag. Refrigerate until dough is firm, at least 2 hours.</li>
                <li>Preheat oven to 375 degrees F (190 degrees C). Line baking sheet with parchment paper.</li>
                <li>Scoop out rounded tablespoons of dough and place on prepared baking sheet, leaving 4 inches of space between cookies (about 8 per sheet). Bake in preheated oven until cookies are golden brown, about 12 minutes. Slide parchment and cookies onto a cooling rack for a few minutes. Remove parchment and finish cooling the cookies on the rack.</li>
            </ul>
        </div>
    </div>
</span> -->

