<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>eaTr - Meal plan with ease!</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body>
  <div class="titleBar">
      <span class="titleName">
          <a href="#" class="brand">eaTr</a>
      </span>
      <span class="navIcons">
        <button class="fas fa-info-circle" [disabled]="popUpOpen" (click)="openPopUp()"></button>&nbsp;
        <button class="fas fa-tasks" [disabled]="slPopUpOpen" (click)="slOpenPopUp()"></button>
        <app-popup class="my-prompt" [isOpen]="popUpOpen">
          <div class="box">
            <header>
              <h2 class="title">About</h2>
            </header>
            <main>
              <h5>eaTr makes meal planning easier by helping you build your shopping list. Just pick the recipes you want to make, and eaTr will automatically put together your shopping list for you!</h5>
            </main>
            <footer>
              <button type="submit" class="btn btn-primary float" style="margin-left:15px" (click)="cancelOption()">Close</button>
            </footer>
          </div>
        </app-popup>
        <app-slpopup class="my-prompt" [istOffen]="slPopUpOpen">
          <div class="box">
            <header>
              <h2 class="title">Shopping List</h2>
            </header>
            <main>{{this.message}}
<!--              <div id="stylized" class="myform">
                <form id="form" name="form" action="">
                  <hr>
                  <div class="columnleft">
                    <label for="item" class="col-sm-2 col-form-label">Item</label>
                    <input type="text" name="item" id="item"/>
                  </div>
                  <div class="columnmiddle">
                    <label>Quantity</label>
                    <input type="text" name="quantity" id="quantity"/>
                  </div>
                  <div class="columnright">
                    <label>Unit of Measure</label>
                    <input type="text" name="unit of measure" id="unit of measure"/>
                  </div>
                </form>
              </div>-->
            </main>
            <footer>
              <button type="submit" class="btn btn-primary float" style="margin-left:15px" (click)="addOption()">Add Item</button>&nbsp;
              <button type="submit" class="btn btn-primary float" style="margin-left:15px" (click)="saveOption()">Save for later</button>
              <button type="submit" class="btn btn-primary float" style="margin-left:15px" (click)="deleteOption()">Delete forever</button>
            </footer>
          </div>
        </app-slpopup>
      </span>
  </div>
  <hr class="topRowLine">
    <div class="row">
        <app-menu-body class="col-9 menuBodyModule"></app-menu-body>
        <app-sidebar class="col-3 sidebar"></app-sidebar>
    </div>
</body>
</html>