<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>eaTr - Meal plan with ease!</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body>
  <div class="titleBar">
      <span class="titleName">
          <a href="#" class="brand">eaTr</a>
      </span>
      <span class="navIcons">
        <a href="#"><i class="fas fa-info-circle"></i></a>&nbsp;<a href="#"><i class="fas fa-tasks"></i></a>
      </span>
  </div>
  <hr class="topRowLine">
    <div class="row">
        <app-menu-body class="col-9 menuBodyModule"></app-menu-body>
        <app-sidebar class="col-3 sidebar"></app-sidebar>
    </div>
</body>
</html>