<div [ngSwitch]="recipeVisible" class="menuBodySpan">
    <div class="col-9 menuBody" *ngSwitchCase="false">
        <div class="recipeIcon">
            <span class="recipeThumb">
                <img src="assets/images/cookies.jpg" class="thumb">
            </span>
            <span class="recipeIconActions">
                <div class="addToList">
                    <a href="#"><i class="far fa-plus-square"></i></a>
                </div>
                <div class="recipeExpand">
                    <a (click)="recipeVisible=true"><i class="fas fa-expand-arrows-alt"></i></a>
                </div>
            </span>
        </div>
    </div>
    <app-full-recipe *ngSwitchCase="true" class="col-9 fullRecipeMondule"></app-full-recipe>
</div>