@import url('//fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
    font-family: 'roboto';
    font-weight: 100;
}

/*HEADER*/

.titleName {
    font-size: 3em;
    vertical-align: text-bottom;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
    border-right-color: black;
}

.topRowLine {
    background-color: #9edb51;
    height: 1px;
    margin: 0px;
}

a.brand {
    color: #9edb51;
    text-decoration: none;
}

:hover.brand {
    color: #a7e3f2;
}

.navIcons {
    float: right;
    text-align: right;
    font-size: 1.5em;
    padding-right: 15px;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.fa-info-circle {
    color: #b363a4;
}

:hover.fa-info-circle {
    color: #a7e3f2;
}

.fa-plus-circle {
    color: #b363a4;
}

:hover.fa-plus-circle {
    color: #a7e3f2;
}

.fa-tasks {
    color: #b363a4;
}

:hover.fa-tasks {
    color: #a7e3f2;
}

/*MAIN BODY*/

.router {
    align-content: center;
}
.menuBodyModule {
    padding: 0px;
}

.row {
    padding-right: 0px;
}

.recipeMenu {
    margin: 0px;
}

.recipeIcon {
    align-items: center;
    width: 250px;
    height: 75px;
    padding: 0px;
    margin: 20px;
    border-color: black;
    border-width: 2px;
    background-color: #a7e3f2;
    border-radius: 7px 7px 0px 0px;
}

.recipeThumb {
    width: 250px;
    height: 75px;
    padding: 20px;
    margin: 0px;
    text-align: center;
    color: white;
}

.thumb {
    width: 250px;
    height: 75px;
    border-radius: 7px 0px 0px 7px;
}

.recipeIconActions {
    width: 250px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    /* float: right; */
}

.addToList {
    background-color: #72a339;
    font-size: 1em;
    text-align: center;
    width: 125px;
    height: 35px;
    padding-left: 15px;
    padding-top: 5px;
    border-radius: 0px 0px 0px 7px;
    margin-bottom: 20px;
}

.fa-plus-square {
    color: white;
}

:hover.fa-plus-square {
    color: #d4cb4a;
}

.fa-expand-arrows-alt {
    color: white;
}

:hover.fa-expand-arrows-alt {
    color: #72a339;
}

.recipeExpand {
    background-color: #d4cb4a;
    color: #fff;
    font-size: 1em;
    text-align: center;
    width: 125px;
    height: 35px;
    padding-top: 5px;
    padding-left: 15px;
    border-radius: 0px 0px 7px 0px;
}

.menuBody {
    padding-left: 30px;
}

/*FULL RECIPE*/

.fullRecipeMondule{
    float: top;
}

.menuBodySpan {
    padding: 0px;
    margin: 0px;
}

.recipeFull {
    background-color: #a7e3f2;
    padding-top: 15px;
    padding-right: 0px;
    color: rgb(47, 79, 79);
    margin: 0px;
    width: 100%;
}

.recipeName {
    text-align: center;
    padding-right: 15px;
}

.recipeIngredients {
    padding: 15px;
}

.recipeInstructions {
    padding: 15px;
}

.closeFullRecipe {
    background-color: #a7e3f2;
    text-align: center;
    margin: 0px;
    padding-top: 15px;
}

.fa-times {
    float: right;
    color: rgb(47, 79, 79);
    font-size: large;
    margin: 0px;
}

:hover.fa-times {
    color: white;
}

.fullImage {
    width: 100%
}

li {
    font-weight: 300;
    color: rgb(47, 79, 79);
}

/* SIDEBAR */

.sidebar {
    padding-top: 15px;
    text-align: center;
    float: right;
    background-color: lightgray;
    height: inherit;
}

/* New Recipe */

.ingredientForm {
    margin: 15px;
    align-content: left;
}

a.newRecipeButton {
    color: white;
    text-decoration: none;
}

:hover.newRecipeButton {
    color: black;
    text-decoration: none;
}

.newRecipe {
    padding: 15px;
}

/* Shopping List */

.shoppingList {
    padding: 15px;
}